@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family:Whisper;
}
body{
    background-color: aliceblue;
    padding:0 16px;
}
